.controlButtons {
    display: flex;
    flex-wrap: wrap;
    gap: 15px; /* space between button groups */
    margin: 20px 0;
    justify-content: center; /* center all buttons horizontally */
    align-items: center;
}

.controlButtons > div {
    display: flex;
    gap: 10px; /* space between buttons inside a group */
}

/* General button style */
.controlButtons button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;
}

.controlButtons button:hover {
    background-color: #8d8787;
}

