.dealer-container {
    margin-top:40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    max-width: 10%;

}
.dealer-hand {
    display: flex;
    gap: 8px;
    border: solid 1px black;
    padding: 10px;
}
.handValue {
    padding-right: 50px;
    margin:auto;
}