.dealer-hand {
    border: 1px solid black;
    padding: 10px;
    margin-top: 30px;
    display: flex;
    gap: 5px;
    min-width: 60px;
    max-width: 600px;
    flex-wrap: wrap; /* wrap cards if too many */
}
.handValue {
    padding-right: 50px;
    margin:auto;
}